header {
  display: flex;
  justify-content: flex-end;
  color: white;
}

header ul {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
}
ul li {
  padding: 1em;
  font-size: 1.5em;
}

body {
  background-image: url(main\ background\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  height: 70em;
  width: 100%;
  backdrop-filter: blur(0.5em);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: "Rampart One", cursive;
  color: blue;
  font-size: 2.5em;
  margin-top: 0em;
  margin: 0em;
}

h4 {
  font-family: "Rampart One", cursive;
  color: blue;
  margin: 0em;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3em auto 0 auto;
  width: 50%;
  height: 30%;
  background-color: red;
  border-radius: 2em;
  float: left;
  padding-left: 10em;
  padding-right: 10em;
}

.about p {
  margin-right: 2em;
}

.about img {
  display: block;
  margin: auto;
}

.about figcaption {
  display: block;
  margin: 1em auto;
  text-align: center;
  color: blue;
}
article.experience {
  margin-top: 3em;
}
.experience {
  background-color: blue;
  border: 0.1em solid #ddd;
  border-radius: 1em;
  padding: 1em;
  margin: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding-left: 26em;
  padding-right: 26em;
}

.experience h4 {
  font-size: 3em;
  font-family: "Rampart One", cursive;
  margin-top: 0;
  color: yellow;
}

.experience hr {
  border: 0;
  height: 2px;
  background-color: #ddd;
  margin: 20px 0;
  width: 100%;
}
.experience li {
  color: white;
}
